.link-subdued {
  &,
  &:focus,
  &:active {
    color: $ds-body-light-color;
  }

  &:hover {
    color: $ds-body-regular-color;
  }
}

.ds-link-with-icon {
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px 0 24px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  &,
  &:focus {
    color: $ds-display-light-color;
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    color: $ds-display-light-color;
    text-decoration: none;
  }

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
