/* Colors
 */

$ds-brand-light-color:      #766cff;
$ds-brand-lighter-color:    #756cf9;
$ds-brand-lightest-color:   #f5f5f7;
$ds-brand-regular-color:    #6548c7;
$ds-brand-medium-color:     #695ff6;
$ds-brand-semi-medium-color:#382dd4;
$ds-brand-dark-color:       #2a22a1;

$ds-ui-lightest-color:      #ffffff;
$ds-ui-light-color:         #fdfdfd;
$ds-ui-regular-color:       #f2f2f2;
$ds-ui-dark-color:          #d9d9d9;
$ds-ui-darker-color:        #cccccc;
$ds-ui-darkest-color:       #b3b3b3;
$ds-ui-background-color:    #f5f5f7;
$ds-ui-background-dark-color:#5048c7;
$ds-ui-border-color:        #e6e6e6;

$ds-display-light-color:    #706f84;
$ds-display-regular-color:  #110f33;
$ds-display-dark-color:     #0f0d3a;

$ds-icon-focus-color:       #5048c7;

$ds-body-light-color:       #808080;
$ds-body-lighter-color:     #84839c;
$ds-body-regular-color:     #4d4d4d;

$ds-success-regular-color:  #8fc980;
$ds-success-dark-color:     #6b9660;
$ds-warning-regular-color:  #f8d074;
$ds-warning-dark-color:     #f5be33;
$ds-error-regular-color:    #f05e5e;
$ds-error-dark-color:       #bd4a4a;

$ds-badge-background-color: #8e8d9e;

/* Typography
 */

$ds-font-family-base:       -apple-system, SFUIText, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$ds-font-family-monospaced: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;
$ds-list-gap:               8px;
$display-xl-font-size:      28px;
$display-large-font-size:   22px;
$display-font-size:         20px;
$display-small-font-size:   18px;
$display-xsmall-font-size:  14px;
$display-xxsmall-font-size: 11px;
$header-small-font-size:    16px;
$body-large-font-size:      $display-small-font-size;
$body-font-size:            $display-xsmall-font-size;
$body-small-font-size:      13px;
$body-xsmall-font-size:     12px;
$ds-font-weight-semibold:   500;
$ds-font-weight-bold:       600;

/* Spacing
 */

$ds-gap:     30px;
$ds-gap-y:   $ds-gap;
$ds-gap-x:   $ds-gap;

$spacing: (
  'xxxxsm': 5px,
  'xxxsm':  10px,
  'xxsm':   15px,
  'xsm':    20px,
  'sm':     25px,
  'md':     30px,
  'lg':     35px,
  'xlg':    40px,
  'xxlg':   45px,
  'xxxlg':  50px
);

@function spacing($spacer) {
  @return map-get($spacing, $spacer);
}

/* Misc
 */

$ds-border-radius-base:     3px;
$ds-box-shadow-base:        0 1px 4px 0 rgba(17, 15, 51, 0.2);
$ds-box-shadow-card:        0 2px 6px 0 rgba(17, 15, 51, 0.1);
$ds-box-shadow-sm:          0 1px 2px 0 rgba(17, 15, 51, 0.1);
$ds-card-border:            1px solid #d7d7de;
$ds-transition:             all .1s ease-in-out;

/* Inputs
 */

$ds-input-height:             40px;
$ds-input-padding-y:          9px;
$ds-input-padding-x:          10px;
$ds-input-color:              $ds-display-regular-color;
$ds-input-disabled-color:     $ds-body-light-color;
$ds-input-background:         $ds-ui-lightest-color;
$ds-input-disabled-background:$ds-ui-regular-color;
$ds-input-border:             1px solid $ds-ui-darker-color;
$ds-input-border-radius:      $ds-border-radius-base;
$ds-input-border-hover-color: #a6a6a6;
$ds-input-border-focus-color: $ds-brand-light-color;
$ds-input-shadow: inset 0 1px 3px 0 rgba(17, 15, 51, 0.1);
$ds-input-shadow-focused: inset 0 1px 3px 0 rgba(17, 15, 51, 0.1), inset 0px 0px 0px 1px $ds-input-border-focus-color;

/* Sidebar
 */

$ds-sidebar-header-height:    60px;
$ds-sidebar-width:            410px;
$ds-sidebar-border-color:     #e6e6e6;
$ds-sidebar-shadow:           0 0 7px 3px rgba(0, 0, 0, 0.1);

/* Smart underline mixin
 * URL: https://gist.github.com/pixeline/4e0291d97a7aa40cf4f8
 */

@mixin smart-underline($background: $ds-ui-lightest-color, $text: $ds-display-regular-color, $selection: $ds-ui-regular-color, $position: 86%){
  color: inherit;
  text-decoration: none;
  background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($text, $text);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
  background-position-y: $position,$position, $position;
  background-position-x: 0%, 100%, 0%;

  &::selection {
    text-shadow: 0.03em 0 $selection, -0.03em 0 $selection, 0 0.03em $selection, 0 -0.03em $selection, 0.06em 0 $selection, -0.06em 0 $selection, 0.09em 0 $selection, -0.09em 0 $selection, 0.12em 0 $selection, -0.12em 0 $selection, 0.15em 0 $selection, -0.15em 0 $selection;
    background: $selection;
  }
  &::-moz-selection {
    text-shadow: 0.03em 0 $selection, -0.03em 0 $selection, 0 0.03em $selection, 0 -0.03em $selection, 0.06em 0 $selection, -0.06em 0 $selection, 0.09em 0 $selection, -0.09em 0 $selection, 0.12em 0 $selection, -0.12em 0 $selection, 0.15em 0 $selection, -0.15em 0 $selection;
    background: $selection;
  }
  &:before, &:after, *, *:before, *:after {
    text-shadow: none;
  }
  &:visited{
    color: inherit;
  }
}

@mixin side-pane {
  display: block;
  height: 100%;

  [ui-view="sidePaneInner"],
  .sidebar-container-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: $ds-sidebar-width;
  }

  .sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
