.ds-content-block {
  & + & {
    margin-top: spacing('md');
  }

  &--divider {
    padding-bottom: spacing('lg');
    border-bottom: 1px solid $ds-ui-border-color;
  }

  &__header {

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      svg {
        margin-right: spacing('xxxsm');
      }

      h4 {
        flex: 1 0 auto;
        line-height: spacing('md'); // height of a small button
        margin-right: spacing('xxxsm');
      }

      + .ds-content-block__header-description {
        margin-top: spacing('xxxxsm');
      }
    }

    &-description {
      @include display-xsmall-font;
      font-weight: normal;
      color: $ds-display-light-color;
    }
  }

  &__body {
    margin-top: spacing('xxxsm');
  }
}
