.main-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $ds-sidebar-header-height 0 0 0;
  transition: all 0.25s ease;
  overflow: visible;

  @include breakpoint-tablet-portrait-up {
    left: $ds-sidebar-width;
  }

  &--fill-top {
    margin: 0;
  }
}

.main-toolbar {
  background: none !important;
  border: 0 !important;
  padding: 0 30px !important;
}
