.main-pane {
  @include breakpoint-tablet-portrait-up {
    .sb-preview-container {
      padding: 0 $ds-gap;

      .sb-preview-frame {
        @include transform(translateX(-50%));
        position: absolute;
        left: 50%;
      }
    }
  }
}

// Top navigation bar

.ds-preview-frame-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: $ds-brand-lightest-color;

  &__col {
    display: flex;
    align-items: center;
  }

  .ds-dropdown + .ds-link-with-icon {
    margin-left: spacing('xsm');
  }
}
