.side-pane {
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.09);
  z-index: 50;
}

.side-pane-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $ds-sidebar-width;

  &--full-height {
    height: 100%;

    [ui-view="sidePaneInner"] {
      height: 100%;
    }
  }
}

.sidebar-container {
  position: relative;
  height: 100%;
}

.ds-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $ds-ui-lightest-color;
  display: flex;
  flex-direction: column;
  height: 100%;

  &--no-title {
    .ds-sidebar__header {
      border-bottom: 0;
    }

    .ds-sidebar__body {
      h2 {
        @include display-large-font;
        font-weight: $ds-font-weight-bold;
        color: $ds-display-regular-color;
        padding-bottom: 7px;
        font-family: $ds-font-family-base;
      }

      h2 + h4 {
        font-weight: normal;
        color: $ds-display-light-color;
        margin-bottom: spacing(xsm);
        line-height: 25px;
      }
    }
  }

  &__tabbed-nav {
    border-bottom: 1px solid $ds-ui-border-color;
  }

  &__header {
    display: flex;
    background-color: $ds-ui-lightest-color;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 $ds-sidebar-header-height;
    text-align: center;
    height: $ds-sidebar-header-height;
    position: relative;
    box-shadow: $ds-sidebar-shadow;
    background-color: $ds-ui-lightest-color;
    padding: 0 spacing('md');

    @include breakpoint-tablet-portrait-up {
      box-shadow: none;
    }

    &-title {
      font-family: $ds-font-family-base;
      font-size: 20px;
      line-height: 30px;
      font-weight: $ds-font-weight-semibold;
      color: $ds-display-regular-color;
      flex: 0 0 auto;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-subtitle {
      font-family: $ds-font-family-base;
      color: $ds-ui-light-color;
    }

    &-back,
    &-action {
      display: flex;
      align-items: center;
      height: $ds-sidebar-header-height;
    }

    &-divider {
      width: 1px;
      height: 16px;
      background: #eee;
      margin: 0 spacing(xxsm);
    }

    &-home {
      border: 0 none !important;
      box-shadow: none !important;
      background: $ds-ui-lightest-color;
      margin-left: -11px;

      &:hover,
      &:focus,
      &:active {
        background: $ds-ui-lightest-color;

        svg path {
          fill: $ds-brand-light-color;
        }
      }
    }

    .ds-dropdown {
      flex: 1 1 0;
      display: flex;
      justify-content: flex-end;
    }

    &-back {
      $s: &;

      &-button-container {
        cursor: pointer;

        > button {
          align-items: center;
        }

        &:hover,
        &:focus,
        &:active {
          #{$s}-text {
            color: $ds-icon-focus-color;
          }

          svg polygon {
            fill: $ds-icon-focus-color;
          }
        }
      }

      &-text {
        color: $ds-display-light-color;
        font-size: $header-small-font-size;
        font-weight: normal;
        padding-left: spacing('xxxxsm');
      }
    }

    &-back-button-container,
    &-action {
      > button {
        border: 0 none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        align-self: center;

        &:focus,
        &:active {
          outline: 0;
        }
      }
    }

    &-action {
      flex: 1 1 0;
      justify-content: flex-end;
    }

    &-logo {
      height: 20px;
    }

    &-steps {
      font-size: 12px;
      line-height: 16px;
      color: $ds-body-light-color;
    }

    &-progress {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 2px;
      background: $ds-brand-light-color;
    }
  }

  &__tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex: 0 0 $ds-sidebar-header-height;
    height: $ds-sidebar-header-height;
    flex-direction: row;
    border-bottom: 1px solid $ds-sidebar-border-color;

    > li {
      flex: 0 1 100%;

      > a {
        display: block;
        text-align: center;
        font-family: $ds-font-family-base;
        font-size: 14px;
        line-height: $ds-sidebar-header-height;
        font-weight: $ds-font-weight-bold;
        color: #121212;
        opacity: .6;
        transition: $ds-transition;
        position: relative;

        &::after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 2px;
          background-color: $ds-sidebar-border-color;
          opacity: 0;
          transition: $ds-transition;
        }

        &,
        &:focus {
          text-decoration: none;
        }

        &:hover {
          opacity: 1;
        }
      }

      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        color: $ds-brand-regular-color;
        opacity: 1;

        &::after {
          opacity: 1;
          background-color: $ds-brand-regular-color;
        }
      }
    }
  }

  &__body {
    background-color: $ds-ui-lightest-color;
    padding: spacing(xsm) $ds-gap $ds-gap;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1;
  }

  &__title {
    @include display-xl-font;
    font-family: $ds-font-family-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .ds-quick-actions--controls {
        left: 50%;
        top: 64px;
      }
    }

    &-icon {
      margin-top: 12px;
      position: relative;

      > span {
        cursor: pointer;
        line-height: 0;
      }

      .ds-dropdown__menu {
        top: spacing(xxxsm) !important; // Approved by glebovsky (👁 ͜ʖ👁)
      }
    }

    &--overflow-hidden {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  &__actions {
    background-color: $ds-ui-lightest-color;
    position: relative;
    padding: 20px;
    box-shadow: 0 -1px 1px 0 rgba(17, 15, 51, 0.1);
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__description {
    font-size: $display-small-font-size;
    line-height: 1.5;
    color: $ds-body-lighter-color;
    margin-bottom: spacing(xsm);
  }

  &--alternative-bg {
    background-color: #F2F2F7;
  }

  h4, h6 {
    margin-bottom: 7px;
  }
}

.ds-quick-actions {
  position: absolute;
  top: 100%;
  right: -20px;
  box-shadow: 0 1px 7px 0 rgba(17, 15, 51, 0.3);
  border-radius: $ds-border-radius-base;
  border: solid 1px $ds-ui-dark-color;
  white-space: nowrap;
  background: $ds-ui-lightest-color;
  min-width: 160px;
  z-index: 60; // should be greater than the preview ui-view
  text-align: left;

  @include breakpoint-tablet-portrait-up {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__item {
    @include ds-reset;
    @include display-xsmall-font;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    background: transparent;
    color: $ds-brand-light-color;
    padding: 10px;
    border-bottom: 1px solid $ds-ui-regular-color;
    transition: $ds-transition;
    cursor: pointer;
    text-align: left;

    svg {
      margin-right: 10px;
      vertical-align: text-bottom;
    }

    &:hover,
    &:active {
      background: $ds-ui-regular-color;
    }

    &:first-child {
      border-radius: $ds-border-radius-base $ds-border-radius-base 0 0;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 $ds-border-radius-base $ds-border-radius-base;
    }
  }

  &__header {
    font-family: $ds-font-family-base;
    font-size: 16px;
    line-height: 22px;
    font-weight: $ds-font-weight-semibold;
    color: $ds-display-regular-color;
    margin-bottom: spacing('xxsm');
  }

  &__actions {
    text-align: right;
  }

  &--controls {
    top: 40px;
    left: 100px;
    min-width: 340px;
    padding: spacing('xxsm');

    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -10px;
      margin-bottom: 1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $ds-ui-dark-color transparent;
    }

    &::after {
      margin-bottom: 0;
      border-color: transparent transparent $ds-ui-lightest-color transparent;
    }
  }
}

.sidebar-greeting {
  color: $ds-display-regular-color;
  font-size: $display-xl-font-size;
  font-weight: $ds-font-weight-bold;
  padding: 10px 0 13px;

  &--no-recs-card {
    padding-bottom: 23px;
  }
}
