.ds-button-emulate-hover {
  background: darken($ds-ui-light-color, .2);

  &.button--primary {
    background: $ds-brand-dark-color;
    border-color: $ds-brand-dark-color;
  }
}

.ds-button-emulate-focus {
  border-color: $ds-input-border-focus-color;
  box-shadow: inset 0px 0px 0px 1px $ds-input-border-focus-color;

  &.button--primary {
    background: $ds-brand-regular-color;
    border-color: $ds-input-border-focus-color;
    box-shadow: inset 0px 0px 0px 1px $ds-input-border-focus-color;
  }
}

.ds-button-emulate-active {
  background: $ds-ui-light-color;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &.button--primary {
    background: $ds-brand-dark-color;
    border-color: $ds-brand-dark-color;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

