.ds-color-cards {
  display: flex;
  flex-wrap: wrap;
}

.ds-color-card {
  width: 45%;
  border-radius: $ds-border-radius-base;
  box-shadow: $ds-box-shadow-base;
  overflow: hidden;
  display: flex;
  margin-bottom: spacing('xxsm');
  margin-right: spacing('xxsm');

  &__color {
    width: 80px;
    flex-shrink: 0;
    border-right: 1px solid #eee;
  }

  &__body {
    padding: spacing('xxsm');
    background: #fff;
    flex-grow: 1;

    h5 {
      margin: 0 0 5px;
    }
  }
}
