/* Global
 */

@mixin ds-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ds-font-family-base;
  font-size: 14px;
  line-height: 20px;
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin transform($type) {
  -webkit-transform: $type;
  -ms-transform: $type;
  transform: $type;
}

@mixin transition($type) {
  -webkit-transition: $type;
  transition: $type;
}

@mixin animation($type) {
  -webkit-animation: $type;
  -moz-animation: $type;
  -o-animation: $type;
  animation: $type;
}

// Source: http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}

@mixin object-fit($style) {
  -o-object-fit: $style;
  object-fit: $style;
}

/* Flex
 */

@mixin flex($amount) {
  -webkit-box-flex: $amount;
  -webkit-flex: $amount;
  -ms-flex: $amount;
  flex: $amount;
}

@mixin ds-tooltip {
  max-width: 210px;
  padding: 9px 10px;
  background-color: fade-out($ds-display-dark-color, 0.1);

  + .arrow::before {
    border-bottom-color: fade-out($ds-display-dark-color, 0.1);
    border-top-color: fade-out($ds-display-dark-color, 0.1);
  }
}

/* Mobile responsive breakpoints
 */

@mixin breakpoint-tablet-portrait-up {
  @media screen and (min-width: 826px) {
    // Minimum toolbar width.
    @content;
  }
}

@mixin breakpoint-desktop-up {
  @media screen and (min-width: 1290px) {
    @content;
  }
}

/* Text truncate
   Requires inline-block or block for proper styling
 */

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
