@mixin ds-typography {
  p {
    @include body-font;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $ds-font-weight-bold;
    color: $ds-display-regular-color;
    font-family: $ds-font-family-base;
    margin: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  .display-xl-font {
    @include display-xl-font;
  }

  h2,
  .display-large-font {
    @include display-large-font;
  }

  h3,
  .display-font {
    @include display-font;
  }

  h4,
  .display-small-font {
    @include display-small-font;
  }

  h5,
  .display-xsmall-font {
    @include display-xsmall-font;
  }

  h6,
  .display-xxsmall-font {
    @include display-xxsmall-font;
  }

  .lead {
    @include body-large-font;
  }

  .text-sm {
    @include body-small-font;
  }

  .text-xs {
    @include body-xsmall-font;
  }

  li {
    margin-bottom: $ds-list-gap;
  }
}

@mixin display-xl-font {
  font-size: $display-xl-font-size;
  font-weight: bold;
  line-height: 38px;
  color: $ds-display-regular-color;
  margin-bottom: spacing(xxsm);
}

@mixin display-large-font {
  font-size: $display-large-font-size;
  line-height: 30px;
  font-weight: $ds-font-weight-bold;
}

@mixin display-font {
  font-size: $display-font-size;
  line-height: 26px;
  font-weight: $ds-font-weight-semibold;
}

@mixin display-small-font {
  font-size: $display-small-font-size;
  line-height: 22px;
  font-weight: $ds-font-weight-semibold;
}

@mixin display-xsmall-font {
  font-size: $display-xsmall-font-size;
  line-height: 20px;
  font-weight: $ds-font-weight-semibold;
}

@mixin display-xxsmall-font {
  font-size: $display-xxsmall-font-size;
  font-weight: $ds-font-weight-semibold;
  line-height: 22px;
  color: $ds-body-light-color;
}

@mixin body-large-font {
  font-size: $body-large-font-size;
  line-height: 22px;
}

@mixin body-font {
  font-size: $body-font-size;
  line-height: 20px;
  font-weight: normal;
  color: $ds-display-light-color;
}

@mixin body-small-font {
  font-size: $body-small-font-size;
  line-height: 18px;
  font-weight: normal;
}

@mixin body-xsmall-font {
  font-size: $body-xsmall-font-size;
  line-height: 14px;
  font-weight: normal;
}

@mixin ds-link {
  font-family: $ds-font-family-base;
  color: $ds-brand-regular-color;
  text-decoration: underline;
}

@mixin ds-link-subdued {
  text-decoration: underline;
  cursor: pointer;
}
