.ds-avatar {
  display: inline-flex;
  align-items: center;

  &__avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ds-brand-lightest-color;
    color: $ds-brand-medium-color;
    font-weight: $ds-font-weight-bold;
    border-radius: 50%;
    text-transform: uppercase;
    flex-shrink: 0;

    &--has-image {
      background-size: cover;
    }
  }

  &__text {
    margin-left: spacing('xxxsm');

    &-primary {
      color: $ds-display-regular-color;
      font-size: $display-xsmall-font-size;
      line-height: 18px;
      font-weight: normal;
    }

    &-secondary {
      color: $ds-body-light-color;
      font-size: $body-xsmall-font-size;
      line-height: 18px;
      font-weight: normal;
    }
  }

  &--has-hover {
    cursor: pointer;
  }

  &--is-active {
    .ds-avatar__avatar {
      position: relative;

      &::after {
        display: block;
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: $ds-success-regular-color;
      }
    }
  }
}
