@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/tooltip';

$tooltip-z-index: 20000;

//Reactstrap generates tooltip element inside the <body> tag, the default z-index value is 1070
.tooltip {
  z-index: $tooltip-z-index;
}

@mixin simple-tooltip-body {
  @include ds-tooltip;
  display: block;
  position: absolute;
  color: $ds-ui-lightest-color;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  opacity: 0.9;
  visibility: hidden;
  border-radius: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: $tooltip-z-index;
}

@mixin arrow {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -0.4rem;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}

$arrow-top-bottom-border: 0.4rem solid rgba(15, 13, 58, 1);

.ds-tooltip {
  @include ds-tooltip;
  
  &__tap-help {
    @include display-xsmall-font;
    text-align: left;
    color: $ds-display-light-color;
    font-variant: small-caps;
  }

  ul, 
  ol {
    margin: 0;
    padding-left: spacing('xsm');

    li {
      margin: 0;
      text-align: left;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &__simple {
    display: block;
    position: relative;

    &--top {
      @include simple-tooltip-body;
      bottom: 35px;

      &:after {
        @include arrow;
        top: 100%;
        border-top: $arrow-top-bottom-border;
      }
    }

    &--bottom {
      @include simple-tooltip-body;
      top: 35px;

      &:after {
        @include arrow;
        bottom: 100%;
        border-bottom: $arrow-top-bottom-border;
      }
    }

    &:hover span {
      visibility: visible;
    }
  }
}

.mobile-tooltip {
  &.show {
    opacity: 1;
    max-width: 250px;
  }
  
  .ds-tooltip {
    @include display-small-font;
    font-size: $header-small-font-size;
    text-align: left;
    background-color: rgba(15, 13, 58, 1);  
    max-width: 250px;
    animation: float 2s ease-in-out infinite;
  }

  .arrow {
    animation: float 2s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translatey(2px);
  }
  50% {
    transform: translatey(-2px);
  }
  100% {
    transform: translatey(2px);
  }
}
