.hidden {
  display: none;
}

.ds-upload {
  @include ds-reset;
  border: $ds-input-border;
  border-radius: $ds-border-radius-base;
  background: $ds-ui-lightest-color;
  text-align: center;
  cursor: pointer;
  padding: $ds-gap-y $ds-gap-x;
  box-shadow: 0 1px 2px 0 rgba(17, 15, 51, 0.1);

  &__text {
    color: $ds-body-light-color;
  }

  &:hover {
    background: #f6f5ff;

    .ds-upload__text {
      color: $ds-brand-regular-color;
    }
  }

  &__spinner {
    display: block;
    margin: 0 auto 15px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $ds-brand-regular-color;
    position: relative;
    -webkit-animation: rotateme 1.2s infinite linear;
    animation: rotateme 1.2s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
      width: 18px;
      height: 8px;
      background: #fff;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      content: '';
    }

    &::after {
      background: #fff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__error {
    display: flex;
    margin-top: 10px;
    color: $ds-error-dark-color;
    align-items: flex-start;

    svg {
      position: relative;
      top: 2px;
      margin-right: 6px;
      line-height: 22px;
      min-width: 16px;
    }


  }

  &--uploading {
    cursor: default;

    &:hover {
      background: $ds-ui-lightest-color;

      .ds-upload__text {
        color: $ds-body-light-color;
      }
    }
  }

  &--has-error {
    border-color: $ds-error-regular-color;
  }
}

.file-upload-link {
  display: inline-block;
  cursor: pointer;
  max-width: 200px;
  height: 1.2em;
  @include text-truncate();
}

@-webkit-keyframes rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
