.ds-popover-container {
  position: relative;
  display: inline-block;
}

.ds-popover {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 6px;
  background: $ds-ui-lightest-color;
  border: $ds-card-border;
  border-radius: 6px;
  box-shadow: 0 1px 7px 0 rgba(17, 15, 51, 0.3);
  padding: 0;
  min-width: 160px;
  z-index: 100;

  @media (min-width: 993px) {
    padding: 12px;
  }
}
