.ds-tabbed-nav {
  display: inline-block;
  position: relative;
  padding: 14px 30px;

  &-wrapper {
    overflow: hidden;

    &__breadcrumbs {
      overflow: visible;

      .ds-tabbed-nav {
        padding: 14px 0;
      }
    }
  }

  &__breadcrumbs-container,
  &__breadcrumbs-entry {
    display: flex;
    align-items: center;
  }

  &__breadcrumbs-label {
    display: inline;
  }

  &__breadcrumbs-container {
    .ds-tabbed-nav__separator {
      margin: 0;
    }

    &--not-calculated {
      .ds-tabbed-nav__breadcrumbs-entry {
        visibility: hidden;
      }
    }
  }

  &__breadcrumbs-entry {
    &--expand {
      padding: 2px 5px;
      margin: 0;
      background: $ds-brand-light-color;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
    }

    &-menu {
      background: $ds-ui-lightest-color;
      border-radius: $ds-border-radius-base;
      box-shadow: $ds-box-shadow-base;
      list-style-type: none;
      margin: 5px 0 0;
      padding: spacing('xxxsm') 0;
      position: absolute;
      z-index: 2000;
      left: 0;
      top: 100%;
      text-align: left;
      min-width: 260px;
      display: none;

      &--opened {
        display: block;
      }

      &-item {
        color: $ds-body-lighter-color;
        padding: 10px spacing('xsm') 10px;
        display: block;
        position: relative;
        cursor: pointer;

        &:hover {
          background: $ds-brand-lightest-color;
        }
      }
    }

    .ds-tabbed-nav__item {
      @include text-truncate();
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &--spread {
    ul {
      justify-content: space-between;
    }
  }

  &--block {
    display: block;
  }

  &__item {
    color: $ds-body-lighter-color;
    white-space: nowrap;

    &--active {
      color: $ds-brand-semi-medium-color;
      font-weight: 600;
    }

    &--visited {
      color: $ds-brand-semi-medium-color;
    }

    &--clickable {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__separator {
    position: relative;
    width: 16px;
    margin: 0px spacing('xxxsm');

    &:last-of-type {
      &:before {
        display: none;
      }

      &:after {
        right: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 5px;
      width: 5px;
      border-right: 1px solid $ds-display-light-color;
      border-bottom: 1px solid $ds-display-light-color;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &--has-progress {
      &:after {
        content: '';
        position: absolute;
        width: 2000px;
        right: 6px;
        top: -24px;
        height: 2px;
        background: $ds-brand-semi-medium-color;
      }
    }
  }

  &__progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background: $ds-brand-semi-medium-color;
  }
}
