.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100vh;

  &__nav {
    width: 330px;
    background: $ds-ui-lightest-color;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.09);
    overflow: auto;

    &-head {
      padding: 30px;
      display: block;
      text-decoration: none;

      &,
      &:hover,
      &:active,
      &:focus {
        outline: 0;
        text-decoration: none;
      }
    }

    &-intro {
      padding: 0 30px;

      p {
        margin: 0;
      }
    }
  }

  &__body {
    margin-left: 330px;
    background: $ds-brand-lightest-color;
    padding: 25px 30px 150px;
    width: 100%;

    &-content {
      width: 85%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &--bg {
      background-color: $ds-ui-regular-color;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  counter-reset: nav;

  > li {
    display: block;
    margin: 0;

    > a {
      display: block;
      padding: 5px 30px 5px 60px;
      font-size: 16px;
      color: $ds-display-regular-color;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      position: relative;
      font-weight: 300;

      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 15px;
        height: 2px;
        background: $ds-brand-light-color;
        width: 0px;
        transition: all 0.15s ease-in-out;
      }

      &:hover {
        color: fade-out($ds-display-regular-color, 0.4);
        text-decoration: none;
        cursor: pointer;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: $ds-brand-light-color;
      text-decoration: none;
      background: transparent;

      &::before {
        color: $ds-brand-light-color;
      }

      &::after {
        width: 50px;
      }
    }
  }

  &__header {
    color: $ds-display-regular-color;
    padding: 30px 30px 0 60px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    position: relative;

    &::before {
      counter-increment: nav;
      content: counter(nav, decimal-leading-zero);
      display: block;
      color: fade-out($ds-display-regular-color, 0.8);
      position: absolute;
      left: 30px;
      top: 30px;
      transition: all 0.15s ease-in-out;
    }
  }
}

.app-page-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    font-weight: 300;

    + p {
      margin-top: 10px;
    }
  }

  * + & {
    margin-top: 60px;
  }
}

// welcome

.ds-welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  svg {
    width: 300px;

    path {
      fill: #eeeef1;
    }
  }
}

.ds-table-legend {
  &__item {
    display: inline-block;
    line-height: 30px;
    padding-left: 40px;
    font-size: 14px;
    position: relative;

    & + & {
      margin-left: 55px;
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background: $ds-body-regular-color;
      border-radius: 3px;
    }

    &--primary::before {
      background: $ds-brand-regular-color;
    }

    &--display::before {
      background: $ds-display-regular-color;
    }

    &--body::before {
      background: $ds-body-regular-color;
    }

    &--subdued::before {
      background: $ds-body-light-color;
    }
  }
}

.ds-row {
  display: flex;
  flex-direction: row;

  & + & {
    margin-top: $ds-gap-y;
  }
}

.ds-col {
  flex: 1;
  margin: 0 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.ds-block {
  & + & {
    margin-top: $ds-gap-y;
  }

  &__title {
    margin-bottom: 15px;
  }
}

.ds-metadata {
  * + & {
    margin-top: 20px;
  }

  &__di {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 0;
  }

  &__dt {
    flex-basis: 20%;
    color: $ds-ui-darkest-color;
  }

  &__dl {
    flex: 1 0 auto;
  }
}

// Inline code

code {
  font-family: $ds-font-family-monospaced;
  color: #e83e8c;
  word-break: break-word;
  font-size: 87.5%;
  display: inline-block;
  border-radius: $ds-border-radius-base;
  background: $ds-ui-regular-color;
  padding-left: 4px;
  padding-right: 4px;
}

// Example block with code snippets

.ds-example {
  background: #fbfbfb;
  padding: 6px;
  border-radius: $ds-border-radius-base;

  & + & {
    margin-top: 5px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 11px;
    color: #aaa;
    margin-bottom: 6px;
  }

  &__preview {
    background: #fff;
    padding: spacing('xsm');
  }

  &__code {
    font-size: 12px;
    line-height: 16px;
    padding: spacing('xsm');

    > pre {
      margin: 0 !important;
      padding: 0 !important;
      background: transparent !important;
    }
  }
}

.hljs {
  > div {
    white-space: pre-wrap !important;
  }
}
