.ds-button-group {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .button {
    border-radius: 0;
    margin-left: -1px;
    border-color: $ds-ui-darker-color;
    box-shadow: none;

    &:first-child {
      margin-left: 0;
      border-radius: $ds-border-radius-base 0 0 $ds-border-radius-base;
    }

    &:last-child {
      border-radius: 0 $ds-border-radius-base $ds-border-radius-base 0;
    }

    &--primary {
      border-color: $ds-brand-regular-color;
      border-left-color: rgba(0, 0, 0, 0.1);

      &:focus {
        z-index: initial;
      }

      &:first-child {
        border-left-color: $ds-brand-regular-color;
      }
    }
  }

  .ds-dropdown {
    margin-left: -1px;
    box-shadow: none;
  }

  &--vertical {
    flex-direction: column;

    .button {
      margin-top: -1px;
      margin-left: 0;

      &:first-child {
        margin-top: 0;
        border-radius: $ds-border-radius-base $ds-border-radius-base 0 0;
      }

      &:last-child {
        border-radius: 0 0 $ds-border-radius-base $ds-border-radius-base;
      }

      &--primary {
        border-color: $ds-brand-regular-color;
        border-top-color: rgba(0, 0, 0, 0.1);

        &:focus {
          z-index: initial;
        }

        &:first-child {
          border-top-color: $ds-brand-regular-color;
        }
      }

      &--icon {
        width: 100%;
      }
    }
  }
}
