.datetime-picker {
  display: flex;
  justify-content: space-between;

  &__time-picker {
    @include ds-form-control;
    overflow: hidden;
    width: 100px;
  }

  .ds-form-control.ds-form-control-select__toggle {
    width: 225px;
    padding-right: 54px;

    &.ds-form-control-select__toggle--empty {
      color: $ds-ui-darker-color;
    }
  }
}

.react-datepicker {
  border: 1px solid $ds-ui-dark-color;
  border-radius: $ds-border-radius-base;
  box-shadow: 0 1px 7px 0 rgba(17, 15, 51, 0.3);
  font-family: inherit;

  &__triangle {
    display: none;
  }

  &__header {
    background-color: $ds-ui-lightest-color;
    border-bottom: none;
  }

  &__current-month {
    color: $ds-display-regular-color;
    font-weight: $ds-font-weight-semibold;
  }

  &__navigation {
    height: 15px;
    width: 15px;
    top: 12px;
    border: none;

    &:focus {
      outline: 0;
    }

    &--previous {
      left: 9px;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIGQ9Ik0uMiA1LjRMNS42IDAgNyAxLjRsLTQgNCA0IDQtMS40IDEuNHoiIGZpbGw9IiNDQ0MiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==)
        center center no-repeat;
    }

    &--next {
      right: 9px;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIGQ9Ik02LjggNS42TDEuNCAxMSAwIDkuNmw0LTQtNC00TDEuNC4yeiIgZmlsbD0iI0NDQyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+)
        center center no-repeat;
    }
  }

  &__day {
    color: $ds-body-regular-color;

    &--today {
      background: none;
    }

    &--selected {
      border-radius: $ds-border-radius-base;
      background-color: rgba($ds-brand-light-color, 0.2);
      color: $ds-brand-regular-color;
      font-weight: $ds-font-weight-bold;
    }

    &--outside-month {
      color: $ds-ui-darker-color;
    }

    &:hover {
      border-radius: $ds-border-radius-base;
      background-color: rgba($ds-brand-light-color, 0.2);
      color: black;
    }
  }

  &__time-container {
    width: 110px;

    .react-datepicker__time .react-datepicker__time-box {
      width: 90px;
      overflow-x: visible;
      margin: 0;
    }
  }

  &__header--time {
    display: none;
  }

  &__time-list {
    width: 122% !important;
    padding: 0 !important;
  }

  &__time-list-item {
    margin-bottom: 0;
    padding: 5px 10px !important;
    font-size: $display-xsmall-font-size;
    color: $ds-display-regular-color;

    &--selected {
      background: no-repeat
        url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIGQ9Ik05LjQgMkw4IC42bC00IDQtMi0yTC42IDQgNCA3LjR6IiBmaWxsPSIjNzY2Q0ZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=)
        7px 12px !important;
      background-clip: padding-box;
      color: $ds-display-regular-color !important;
      font-weight: normal !important;
    }

    &:hover {
      background-color: rgba($ds-brand-light-color, 0.2) !important;
    }
  }

  &-popper[data-placement^='bottom'] {
    margin-top: 4px;
    z-index: 30;
  }

  &__close-icon {
    position: absolute;
    right: 30px;
    top: 12px;
    width: 16px;
    height: 16px;

    &::after {
      right: 0;
      font-size: 14px;
      line-height: 10px;
      transition: $ds-transition;
      background-color: $ds-ui-dark-color;
    }

    &:hover {
      &::after {
        background-color: $ds-ui-darkest-color;
      }
    }
  }
}
