.ds-filter-option {
  position: relative;

  &.has-items {
    border: $ds-input-border;
    border-radius: $ds-border-radius-base;
    box-shadow: 0 1px 2px 0 rgba(17, 15, 51, 0.1);

    .ds-filter-option__actions {
      .button {
        margin: 0 -1px -1px;
        border-radius: 0;

        &:first-child {
          border-bottom-left-radius: $ds-border-radius-base;
        }

        &:last-child {
          border-bottom-right-radius: $ds-border-radius-base;
        }
      }
    }
  }

  &__actions {
    display: flex;

    .button {
      flex: 1 1 50%;
    }
  }

  &__select {
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    border-radius: $ds-border-radius-base;
    background: $ds-ui-lightest-color;
    box-shadow: 0 2px 12px 0 rgba(17, 15, 51, 0.1);
  
    &-header {
      @include ds-control-label;
      padding: (spacing(xxxsm)/2) spacing(xxxsm);
    }
  
    &-item {
      padding: spacing(xxxsm);
      cursor: pointer;
  
      &:hover {
        background: $ds-brand-lightest-color
      }
  
      &:last-child {
        border-radius: 0 0 $ds-border-radius-base $ds-border-radius-base;
      }
    }
  }

  &__item {

    &:last-child {
      .ds-filter-option__item-toggle {
        margin-bottom: -1px;
      }
    }
  
    &-toggle {
      color: $ds-display-regular-color;
      padding: 10px;
      padding-right: $ds-input-padding-x*3;
      border-bottom: 1px solid $ds-ui-regular-color;
      transition: $ds-transition;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      @include text-truncate();
  
      &::before,
      &::after {
        position: absolute;
        display: block;
        content: '';
        height: 2px;
        width: 8px;
        background: $ds-ui-darker-color;
        pointer-events: none;
        top: 50%;
        transition: $ds-transition;
      }
  
      &::before {
        right: 15px;
        transform: translate(0,-50%) rotate(45deg);
      }
  
      &::after {
        right: 10px;
        transform: translate(0,-50%) rotate(-45deg);
      }
  
      &:hover {
        &::before,
        &::after {
          background: $ds-brand-regular-color;
        }
      }
  
      &.is-active {
        &::before {
          transform: translate(0,-50%) rotate(-45deg);
        }
  
        &::after {
          transform: translate(0,-50%) rotate(45deg);
        }
      }
    }
  
    &-content {
      padding: spacing(xxsm);
      margin-left: 1px;
      background: $ds-ui-light-color;
    }
  }
}
