.ds-form-control-select__dropdown-options {
  max-height: 320px;
  overflow-y: auto;

  &-preview {
    $s: &;
    width: 60px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > img {
      height: 100%;
    }

    &-icon {
      width: 34px;
      height: 44px;
      background: $ds-ui-dark-color;
      border-radius: $ds-border-radius-base;
      position: relative;

      span {
        background: $ds-ui-darkest-color;
        border-radius: $ds-border-radius-base;
        color: $ds-ui-lightest-color;
        font-size: 10px;
        line-height: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        bottom: 5px;
        right: 5px;
        padding: 0 4px;
        width: 34px;
        overflow: hidden;
        min-height: 14px;
      }
    }

    &.--is-pdf {
      #{$s}-icon span {
        background: #e2564b;
      }
    }

    &.--is-full-width {
      height: auto;
      width: 70%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }

  &-item {
    color: $ds-display-regular-color;
    padding: 10px;
    border-bottom: 1px solid $ds-ui-regular-color;
    transition: $ds-transition;
    cursor: pointer;

    &--collection {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &.ds-form-control-select__dropdown-options-item--mapping {
      color: $ds-brand-light-color;
      font-size: $body-font-size;
      font-weight: $ds-font-weight-bold;

      &.ds-form-control-select__dropdown-options-item--disabled {
        color: $ds-ui-border-color;
        cursor: not-allowed;

        &:hover {
          background: inherit;
        }
      }
    }

    &.ds-form-control-select__dropdown-options-item--action {
      color: $ds-brand-regular-color;
    }

    &:first-child {
      border-radius: $ds-border-radius-base $ds-border-radius-base 0 0;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 $ds-border-radius-base $ds-border-radius-base;
    }

    &:hover {
      background: $ds-ui-regular-color;
    }
  }
}
