.ds-form-group--color-picker {
  position: relative;

  &.ds-color-right {
    .sketch-picker {
      right: 0;
    }
  }

  &.ds-color-left {
    .sketch-picker {
      left: 0;
    }
  }

  .sketch-picker {
    position: absolute;
    top: 70px;
    z-index: 10;
  }
}

.ds-form-control-color-picker {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;

  &__container {
    position: relative;
    width: 100%;
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 25px 25px;
    background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
    border-radius: $ds-border-radius-base $ds-border-radius-base;
  }

  &__color {
    height: 40px;
    border-radius: $ds-border-radius-base $ds-border-radius-base;
    border: $ds-input-border;
    cursor: pointer;
  }

  &__clear-color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4d4d4d;
    top: -6px;
    right: -6px;
    position: absolute;
    border: 2px solid #fff;
    cursor: pointer;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
